.DS_Store
section8-first-cli/node_modules
section8-first-cli/dist
section9-demo-component/node_modules
section9-demo-component/dist

# Log files
section8-first-cli/npm-debug.log*
section8-first-cli/yarn-debug.log*
section8-first-cli/yarn-error.log*
section8-first-cli/pnpm-debug.log*

section9-demo-component/npm-debug.log*
section9-demo-component/yarn-debug.log*
section9-demo-component/yarn-error.log*
section9-demo-component/pnpm-debug.log*